[submodule "PiTech"]
	path = PiTech
	url = https://github.com/SPotes22/PiTech.git
[submodule "secrets/PiBackLogger"]
	path = secrets/PiBackLogger
	url = https://github.com/SPotes22/PiBackLogger
[submodule "repo-scanner"]
	path = repo-scanner
	url = https://github.com/SPotes22/repo-scanner.git
